@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0px auto;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner Image.png');
    height: 495px;
    background-size: 100%;
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.container-heading h3 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 26.4px;
    font-weight: 330;
}

.container-heading h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 59.4px;
    font-weight: 742.5;
    width: 521.5px;
    margin: 0px auto;

}

.container-heading {
    padding: 177px 0px;
}

.header-part2 {
    font-family: 'Inter';
}

.header-part2 h1 {
    color: #F00;
    text-align: center;
    font-size: 72.6px;
    font-weight: 577.5;
    margin-top: 0px;
    margin-bottom: 48px;
}

.header-part2 p {
    color: #F00;
    text-align: center;
    font-size: 19.8px;
    font-weight: 412.5;
    margin-top: 0px;
    margin-bottom: 16px;
}

.header-part2 h3 {
    color: #070211;
    text-align: center;
    font-size: 39.6px;
    font-weight: 577.5;
}

.header-part2-img {
    width: 802.9px;
    height: 450px;
    margin: 48px auto 120px;
}

.container2 {
    width: 82.5%;
    max-width: 1320px;
    margin: 0px auto;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    height: 495px;
    background-size: 100%;
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
}

.container2 h1 {
    color: #FFF;
    font-size: 52.8px;
    font-weight: 742.5;
    letter-spacing: 5.808px;
    width: 529.65px;
    font-family: 'Merriweather';
    margin-bottom: 19.8px;
}

.container2 p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 14.85px;
    font-weight: 330;
    font-family: 'Inter';
    width: 575.025px;
    margin-bottom: 26.4px;
}

.container2 h4 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 16.5px;
    font-weight: 577.5;
    text-transform: uppercase;
}

.container2-main {
    justify-content: space-around;
}

.main-container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0px auto 120px;
    height: 397.65px;
    background-size: 100%;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.main-container-span {
    color: #F00;
}

.main-conatiner-heading {
    color: #070211;
    font-family: 'Inter';
    font-size: 26.4px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    padding: 105px 0px;
}

button {
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 26.4px;
    justify-content: center;
    align-items: center;
    border: 0;
    color: #FFF;
    font-family: 'Inter';
    text-align: center;
    font-size: 16.5px;
    font-weight: 577.5;
    text-transform: uppercase;
    margin-top: 48px;
}